* {
    font-family: 'Poppins', sans-serif;
}


body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #ffffff, #e9f3ff, #bdecff, #7ce7ff, #12e2eb);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    flex: 1;
}

form {
    gap: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    padding: 5px;
    margin: 0px;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.40);
}

h1 {
    padding: 0px;
    text-align: center;
    color:#ffffff;
    margin: 0px;
    border-radius: 10px;
}

h2 {
    font-size: 30px;
    margin-top: 0;
    padding: 0px;
    color: #12E2EB;
    text-align: center;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    letter-spacing: 0px;
}
input:focus {
    background-color: #ceeff3;
    border-color: #00bcd4;
    outline: none;
}

input {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.20);
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    border: 5px;
    margin: 0px;
    width: 200px;
}

img.logo {
    margin: 10px;
    height: auto;
    width: 230px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
}

button.btnMain:disabled {
    opacity: 0.6;
    background-color: #ccc;
}

button.btnMain:disabled:hover {
    opacity: 0.6;
    background-color: #ccc;
    cursor: default;
}

button.btnMain {
    width: 150px;
    height: 50px;
    color: #ffffff;
    background-color: #12E2EB;
    display: block;
    padding: 0px;
    margin: 15px auto;
    letter-spacing: 1px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}



button.btnMain:hover {
    background-color: #00bcd4;
    transform: scale(1.05);
    transition: all 0.25 ease;
}

footer {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

p {
    font-size: 12px;
    margin: 20px;
    padding: 0;
}

p.register {
    margin: 7px;
    text-align: center;
    justify-content: center;
    font-size: 10px;
    padding: 0;
}

a {
    font-size: 12px;
}

.error-msg {
    margin: 7px;
    text-align: center;
    display: inline-block;
    justify-content: center;
    font-size: 10px;
    padding: 0;
    color: red;
}

.infoCredentials {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: inline-block;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}

label {
    font-size: 15px;
}   

.showInfo {
    display: flex;
    padding: 5px;
    margin: 5px;
    justify-content: center;
    font-size: 20px;
}

.alert-box {
    align-items: center;
    display: none;
    position: fixed;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 1000;
}

.alert-box p {
    font-size: 15px;
}
